{% extends 'base.html' %}
{% load static %}
{% block title %}
    Calendar
{% endblock title %}
{% block content %}
<div class="container border">
    <br>
    <div class="row justify-content-center">
        <div class="container text-center m-auto">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </div>
        <p class="display-4 text-center">Our Academic Calendar ({{acad_cal.year}})</p>
        {% if acad_cal %}
            <div class="text-center">
                {% if request.user.is_authenticated %}
                    <span>
                        <a href="{% url 'update_academic_calendar' acad_cal.id %}" class=" m-3 rounded-pill btn btn-secondary"><i
                                class="fa-regular fa-pen-to-square"></i> Update</a>
                    </span>
                {% endif %}
            </div>
            {% if acad_cal.is_active %}
                <table class="table table-striped w-75" style="color: #145A32">
                    <tr>
                        <th>Activity</th>
                        <th>Date</th>
                    </tr>
                    <tr>
                        <td>Semester One Registration</td>
                        <td>Starts on {{acad_cal.sem_one_reg_begins}} and ends on {{acad_cal.sem_one_reg_ends}} </td>
                    </tr>
                    <tr>
                        <td>Semester One Classes</td>
                        <td>Starts on {{acad_cal.sem_one_cls_begins}} and ends on {{acad_cal.sem_one_cls_ends}} </td>
                    </tr>
                    <tr>
                        <td>Semester One Break</td>
                        <td>Starts on {{acad_cal.sem_one_brk_begins}} and ends on {{acad_cal.sem_one_brk_ends}} </td>
                    </tr>
                    <tr>
                        <td>Semester Two Registration</td>
                        <td>Starts on {{acad_cal.sem_two_reg_begins}} and ends on {{acad_cal.sem_two_reg_ends}} </td>
                    </tr>
                    <tr>
                        <td>Semester Two Classes</td>
                        <td>Starts on {{acad_cal.sem_two_cls_begins}} and ends on {{acad_cal.sem_two_cls_ends}} </td>
                    </tr>
                </table>
            {% endif %}
        {% else %}
            <p class="text-center"><i>No information to display</i></p>
        {% endif %}
    </div>
    <br>

    <div class="row justify-content-center">
        <p class="display-4 text-center" >Our Fees Structure for ({{fee.year}})</p>
        <div class="text-center">
            {% if request.user.is_authenticated %}
            <span>
                <a href="{% url 'update_fees' fee.id %}" class=" m-3 rounded-pill btn btn-secondary"><i
                        class="fa-regular fa-pen-to-square"></i> Update</a>
            </span>
            {% endif %}
        </div>
        {% if fee %}
            {% if fee.is_active %}
                <table class="table table-striped w-75" style="color: #145A32">
                    <tr>
                        <th>Student Type</th>
                        <th>Amount</th>
                    </tr>
                    <tr>
                        <td>HECAS Residence</td>
                        <td>K{{fee.hecas_resid|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>HECAS Non-Residence</td>
                        <td>K{{fee.hecas_non_resid|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Self-Sponsor Residence</td>
                        <td>K{{fee.ss_resid|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Self-Sponsor Non-Residence</td>
                        <td>K{{fee.ss_non_resid|floatformat:2}}</td>
                    </tr>
                </table>
            {% endif %}
        {% else %}
                <p class="text-center"><i>No information to display</i></p>
        {% endif %}
    </div>
    <br>

    <div class="row justify-content-center">
        <p class="display-4 text-center">Our Contacts</p>
        {% if contacts %}
            {% if contacts.is_active %}
                <table class="table table-striped w-75" style="color: #145A32">
                    <tr>
                        <th>Name</th>
                        <th>Contact Details</th>
                    </tr>
                    {% for contact in contacts %}
                        <tr>
                            <td>Contact Person</td>
                            <td>{{contact.contact_person}}</td>
                        </tr>
                        <tr>
                            <td>Postal Address</td>
                            <td>{{contact.postal_address}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{contact.email}}</td>
                        </tr>
                        <tr>
                            <td>Landline</td>
                            <td>{{contact.landline}}</td>
                        </tr>
                        <tr>
                            <td>Digicel</td>
                            <td>{{contact.digicel}}</td>
                        </tr>
                        <tr>
                            <td>Telikom</td>
                            <td>{{contact.telikom}}</td>
                        </tr>
                        <tr>
                            <td>Vodaphone</td>
                            <td>{{contact.vodaphone}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% else %}
            <p class='text-center'><i>No information to display</i></p>
        {% endif %}

    </div>
    <br>
</div>
{% endblock content %}