{% extends 'base.html' %}
{% load static %}
{% block title %}
    Calendar
{% endblock title %}
{% block content %}
<div class="container border">
    <br>
    <div class="row justify-content-center">
        <div class="container text-center m-auto">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </div>
        <p class="display-4 text-center">Our Academic Calendar ({{acad_cal.year}})</p>
        {% if acad_cal %}
            <div class="text-center">
                {% if request.user.is_authenticated %}
                    <span>
                        <a href="{% url 'update_academic_calendar' acad_cal.id %}" class=" m-3 rounded-pill btn btn-secondary"><i
                                class="fa-regular fa-pen-to-square"></i> Update</a>
                    </span>
                {% endif %}
            </div>
            {% if acad_cal.is_active %}
                <table class="table table-striped w-75" style="color: #145A32">
                    <tr>
                        <th>Activity</th>
                        <th>Starting Date</th>
                        <th>Ending Date</th>
                    </tr>
                    <tr>
                        <td>Semester One Registration</td>
                        <td>{{acad_cal.sem_one_reg_begins}}</td>
                        <td>{{acad_cal.sem_one_reg_ends}} </td>
                    </tr>
                    <tr>
                        <td>Semester One Classes</td>
                        <td>{{acad_cal.sem_one_cls_begins}} </td>
                        <td>{{acad_cal.sem_one_cls_ends}} </td>
                    </tr>
                    <tr>
                        <td>Semester One Break</td>
                        <td>{{acad_cal.sem_one_brk_begins}} </td>
                        <td>{{acad_cal.sem_one_brk_ends}} </td>
                    </tr>
                    <tr>
                        <td>Semester Two Registration</td>
                        <td>{{acad_cal.sem_two_reg_begins}}</td>
                        <td>{{acad_cal.sem_two_reg_ends}} </td>
                    </tr>
                    <tr>
                        <td>Semester Two Classes</td>
                        <td>{{acad_cal.sem_two_cls_begins}}</td>
                        <td>{{acad_cal.sem_two_cls_ends}} </td>
                    </tr>
                </table>
            {% endif %}
        {% else %}
            <p class="text-center"><i>No information to display</i></p>
        {% endif %}
    </div>
    <br>

    <div class="row justify-content-center">
        <p class="display-4 text-center" >Our Fees Structure for ({{fee.year}})</p>
        {% if fee %}
        <div class="text-center">
            {% if request.user.is_authenticated %}
            <span>
                <a href="{% url 'update_fees' fee.id %} class=" class="m-3 rounded-pill btn btn-secondary"><i
                                class="fa-regular fa-pen-to-square"></i> Update</a>
            </span>
            {% endif %}
        </div>
            {% if fee.is_active %}
                <table class="table table-striped w-75" style="color: #145A32">
                    <tr>
                        <th>Student Type</th>
                        <th>Amount</th>
                    </tr>
                    <tr>
                        <td>HECAS Residence</td>
                        <td>K{{fee.hecas_resid|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>HECAS Non-Residence</td>
                        <td>K{{fee.hecas_non_resid|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Self-Sponsor Residence</td>
                        <td>K{{fee.ss_resid|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Self-Sponsor Non-Residence</td>
                        <td>K{{fee.ss_non_resid|floatformat:2}}</td>
                    </tr>
                </table>
            {% endif %}
        {% else %}
                <p class="text-center"><i>No information to display</i></p>
        {% endif %}
    </div>
    <br>

    <div class="row justify-content-center">
        <p class="display-4 text-center">Our Contacts</p>
        
        {% if contacts %}
            {% for contact in contacts %}
                <div id="background" class="col-lg-5 rounded border m-3 p-3">
                    {% if request.user.is_authenticated %}
                        <span class="fs-3"><a href="{% url 'update_contact' contact.id %}">{{contact.contact_person}}</a></span><br>
                    {% else %}
                        <span class="fs-3">{{contact.contact_person}}</span><br>
                    {% endif %}
                    <span>{{contact.designation}}</span><br>
                    <span>{{contact.postal_address}}</span><br>
                    <span>{{contact.email}}</span><br>
                    <span>{{contact.digicel}}, {{contact.telikom}}, {{contact.vodaphone}}</span><br>
                </div>
            {% endfor %}
        {% else %}
            <p class='text-center'><i>No information to display</i></p>
        {% endif %} 
    </div>
    <br>
</div>
{% endblock content %}