{% extends 'base.html' %}
{% block content %}
    <div class="container border">
        <br>
        <div class="container">
            <div class="row">
                <div class="row text-center">
                    <h1 class="display-1">Our Departments</h1>
                    <p>Read about our departments and the programmes they offer</p>
                </div>
                <div class="row justify-content-center">
                    {% if departments %}
                        {% for department in departments %}
                            {% if department.is_active %}
                                <div id="background" class="col-md-5 rounded border m-3 p-3">
                                    <p class="fs-3">{{department.dept}}</p>
                                    <p>{{department.desc|safe|truncatewords:20}}</p>
                                    <span><a class="btn btn-primary" href="{% url 'department' department.id %}">View</a></span>
                                    {% if user.is_authenticated %}
                                        <span><a class="btn btn-primary" href="{% url 'update_department' department.id %}">Update</a></span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="text-center">
                            <p><i>No departments to display the moment</i></p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}