{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container border">
    <br>
    <div class="container">
        <div class="container text-center m-auto">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </div>
        <br>
        <div id="background" class="container fw-bold">
            <span>
                <h1 class="display-1">{{department.dept|safe}}</h1>
                {% if request.user.is_authenticated %}
                <div><a href="{% url 'update_department' department.id %}" class="card-link"><i class="fa-regular fa-pen-to-square"></i>
                Update</a></div>
                {% endif %}
            </span>
            <hr>
        </div>
        <div class="container">
            <h1>About the Department</h1>
            <p>{{department.desc|safe}}</p>
        </div>
        <div class="container">
            <h1 class="fs-2">
                Programmes offered under this Department
            </h1>
            <!-- check if this department have any programmes -->
            {% if department.programme_set.all %}
                <!-- if there is any, it loops through to display them -->
                {% for programme in department.programme_set.all %}
                    <ol>
                        <li><a href="{% url 'programme' programme.id %}">{{programme.prog_name}}</a></li>
                    </ol>
                {% endfor %}
            {% else %}
                    <!-- if the is no programme it displays this message -->
                <p><i>No programmes to display at the moment</i></p>
            {% endif %}
        </div>
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'departments' %}">Back</a>
    </div>
    <br>
</div>
{% endblock content %}