{% extends 'base.html' %}
{% block title %}
    Our Departments
{% endblock title %}
{% block content %}
    <div class="container border">
        <br>
        <div class="container">
            <div class="row">
                <div class="row text-center">
                    <h1 class="display-1">Our Departments</h1>
                    <p>Read about our departments and the programmes they offer</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            {% if user.is_authenticated %}
                {% if departments %}
                    {% for department in departments %}
                        <div class="cards col-lg-5 border rounded">
                            {% if department.is_active == False %}
                                <p id="deactivate"><strong>Status:</strong> Deactivated</p>
                            {% endif %}
                            <p class="fs-3">{{department.dept}}</p>
                            <p>{{department.desc|safe|truncatewords:20}}</p>
                            <span><a class="btn btn-primary mx-1" href="{% url 'department' department.id %}"><i class="fa-regular fa-eye"></i> View</a></span>
                            <span><a class="btn btn-outline-secondary mx-1" href="{% url 'update_department' department.id %}"><i class="fa-regular fa-pen-to-square"></i> Update</a></span>
                            <span><a class="btn btn-outline-danger mx-1" href="{% url 'delete_department' department.id %}"><i class="fa-solid fa-trash"></i> Delete</a></span>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="text-center">
                        <p><i>No departments to display the moment</i></p>
                    </div>
                {% endif %}
            {% else %}
                {% if departments %}
                    {% for department in departments %}
                        {% if department.is_active %}
                            <div class="cards col-lg-5 border rounded">
                                <p class="fs-3">{{department.dept}}</p>
                                <p>{{department.desc|safe|truncatewords:20}}</p>
                                <span><a class="btn btn-primary" href="{% url 'department' department.id %}">View</a></span>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="text-center">
                        <p><i>No departments to display the moment</i></p>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}