{% extends 'base.html' %}
{% block content %}
<div class="container border">
    <br>
    <h1 class="display-1" id="headings">{{trade_images.trade}}</h1>
    <div class="row">
        {% for trade_image in trade_images %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{image.img}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{trade_image.title}}</h5>
                <p class="card-text">{{trade_image.desc}}</p>
                <a href="#" class="btn btn-primary">Back</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}