{% extends 'base.html' %}
{% block title %}
    {{latest_update.title}}
{% endblock title %}
{% block content %}
    <div class="container border">
        <br>
        <div class="container">
            <div id="background" class="container fw-bold">
                <span>
                    <p class="display-6">{{latest_update.title|safe}} </span>
                <hr>
            </div>
            <div class="container">
                <p>{{latest_update.intro|safe}}</p>
                {% if latest_update.img.url is not None %}
                    <img class="img-fluid" style="width: 40em;" src="{{latest_update.img.url}}" alt="an image">
                    <br>
                {% else %}
                    <p>NO PICTURE TO DISPLAY</p>
                {% endif %}
                <br>
                <p>{{latest_update.main_body|safe}}</p>
                <p>{{latest_update.outro|safe}}</p>
            </div>
            <div class="container">
                <a class="btn btn-primary" href="{% url 'latest_updates' %}">Back</a>
            </div>
        </div>
        <br>
    </div>
{% endblock content %}