{% extends 'base.html' %}
{% block content %}
<div class="container border">
    <br>
    <div class="container">
        <div class="row">
            <div class="row text-center">
                <h1 class="display-1">Latest Updates</h1>
                <p>Read the latest from our institution</p>
            </div>
            <div class="row justify-content-center">
                {% if notices %}
                    {% for notice in notices %}
                        {% if notice.is_active %}
                            <div id="background" class="col-md-5 rounded border m-3 p-3">
                                <p class="fs-3">{{notice.title}}</p>
                                <p>{{notice.intro|safe|truncatewords:20}}</p>
                                <span><a class="btn btn-primary" href="{% url 'notice' notice.id %}">Read</a></span>
                                {% if user.is_authenticated %}
                                <span><a class="btn btn-primary"
                                        href="{% url 'notice' notice.id %}">Update</a></span>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                <div class="text-center">
                    <p><i>No notices to display the moment</i></p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}