{% extends 'base.html' %}
{% block content %}
<div class="container border">
    <br>
    <div class="container text-center">
        <h1 class="display-1">Our Notice Board</h1>
        <p>Read your notices here</p>
    </div>
    <div class="row justify-content-center">
        {% for notice in notices %}
            <div id="background" class="col-lg-5 m-3 p-3 rounded text-lg-center">
                <span class="fs-5">{{notice.title|truncatewords:":50"}}...
                    <a href="{% url 'notice' notice.id %}">Read More</a></span><br><br>
                <span class="fs-5">Added on {{notice.created}}</span>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
