{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{programme.prog_name}}
{% endblock title %}
{% block content %}
<div class="container border">
    <br>
    <div class="container">
        <div class="container text-center m-auto">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </div>
        <div class="container fw-bold">
            <span><p class="display-4">{{programme.prog_name|safe}}</p></span>
            <span>Code: {{programme.prog_code|safe}} | </span>
            <span>Duration: {{programme.prog_duration|safe}} year(s) | </span>
            <span>NQF Level: {{programme.nqf|safe}} | </span>
            <span>Qouta: {{programme.prog_quota|safe}} | </span>
            {% if request.user.is_authenticated %}
            <span><a href="{% url 'update_programme' programme.id %}" class="card-link"><i class="fa-regular fa-pen-to-square"></i>
            Update</a></span>
            {% endif %}
            <hr>
        </div>
        <div class="container">
            <p class="fs-1">Programme Description</p>
            <p>{{programme.prog_description|safe}}</p>
        </div>
        <div class="container">
            <p class="fs-1">Programme Requirements</p>
            <p>{{programme.prog_requirement|safe}}</p>
        </div>
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'programmes' %}">Back</a>
    </div>
    <br>
    
</div>
{% endblock content %}