{% extends 'base.html' %}
{% block content %}
    <div class="container border">
        <br>
        <div class="row justify-content-around">
            <div class="container text-center">
                <h1 class="display-1">Our Trades</h1>
                <p>View our  picture collections according the Trades we have</p>
            </div>
            {% for trade in trades %}
                <div id="background" class="col-md-5 border m-3 p-3 rounded">
                    <span class="fs-4" id="headings">{{trade.trade}}</span><br>
                    <span>
                        <a class="btn btn-outline-primary" href="{% url 'trade_images' trade.id %}">View</a>
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}