body{
    font-family: 'roboto';
    color: #14542A;
}

h1, #headings{
    font-family: 'Allura';
}

#navbar-links{
    color: #FFF200;
}

#deactivate{
    color: red;
    font-weight: bold;
}

.cards{
    padding: 1em;
    margin: 1em;
    background-color: #FFFCC8;
}

.background{
    background-color:#FFFCC8;
}

a{
    text-decoration: none;
}